@model MateuszowSKYSklep.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div class="sectiontitle">
    Logowanie
</div>
<div class="basebody">
    @using (@Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div id="loginerror">
            @Html.ValidationMessage("loginerror", "")
        </div>

        <div id="loginbody">
            <div id="loginemail">
                @Html.LabelFor(o => o.Email, "E-mail:")

                @Html.TextBoxFor(o => o.Email)
                <div class="login-validation-message">
                    @Html.ValidationMessageFor(o => o.Email)
                </div>

            </div>
            <div id="loginpassword">
                @Html.LabelFor(o => o.Password, "Hasło:")

                @Html.PasswordFor(o => o.Password)
                <div class="login-validation-message">
                    @Html.ValidationMessageFor(o => o.Password)
                </div>

            </div>

            <div class="checkbox">
                @Html.CheckBoxFor(m => m.RememberMe, new {@checked = "checked"})
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <input type="submit" value="Zaloguj" class="submitLink"/>
        </div>
    }

    <div id="noaccountyet">

        <a href="@Url.Action("Register")">
            <div id="noaccountbutton">Nie mam jeszcze konta</div>
        </a>

    </div>

    <div style="clear: both;"></div>


</div>


