@model MateuszowSKYSklep.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div class="sectiontitle">
    Rejestracja
</div>
<div class="basebody">
    @using (@Html.BeginForm("Register", "Account"))
    {
        @Html.AntiForgeryToken()

        <div id="login-error">
            @Html.ValidationMessage("loginerror", "")
            @Html.ValidationSummary()
        </div>

        <div id="registeremail">
            @Html.LabelFor(o => o.Email, "E-mail:")

            @Html.TextBoxFor(o => o.Email)
            <div class="login-validation-message">
                @Html.ValidationMessageFor(o => o.Email)
            </div>
        </div>

        <div id="registerpassword">
            @Html.LabelFor(o => o.Password, "Hasło:")

            @Html.PasswordFor(o => o.Password)
            <div class="login-validation-message">
                @Html.ValidationMessageFor(o => o.Password)
            </div>
        </div>

        <div id="registerconfirm">
            @Html.LabelFor(o => o.ConfirmPassword, "Potwierdź hasło:")

            @Html.PasswordFor(o => o.ConfirmPassword)
            <div class="login-validation-message">
                @Html.ValidationMessageFor(o => o.ConfirmPassword)
            </div>
        </div>

        <div id="registerbutton">
            <input type="submit" value="Zarejestruj" class="submitLink"/>
        </div>
    }
</div>
