@model MateuszowSKYSklep.ViewModels.ManageCredentialsViewModel

@{
    ViewBag.Title = "Informacje o koncie";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}


<div class="sectiontitle">
    Informacje o koncie
</div>
<div class="basebody">
    @using (@Html.BeginForm("ChangeProfile", "Manage"))
    {
        @Html.AntiForgeryToken()

        <table class="userdatatable">
            <tr>
                <td class="firstcolumn">@Html.LabelFor(o => o.UserData.FirstName, "Imię:")</td>
                <td>@Html.TextBoxFor(o => o.UserData.FirstName)</td>
                <td>@Html.ValidationMessageFor(o => o.UserData.FirstName)</td>
            </tr>
            <tr>
                <td class="firstcolumn">@Html.LabelFor(o => o.UserData.LastName, "Nazwisko:")</td>
                <td>@Html.TextBoxFor(o => o.UserData.LastName)</td>
                <td>@Html.ValidationMessageFor(o => o.UserData.LastName)</td>
            </tr>
            <tr>
                <td class="firstcolumn">@Html.LabelFor(o => o.UserData.Address, "Adres:")</td>
                <td>@Html.TextBoxFor(o => o.UserData.Address)</td>
                <td>@Html.ValidationMessageFor(o => o.UserData.Address)</td>
            </tr>
            <tr>
                <td class="firstcolumn">@Html.LabelFor(o => o.UserData.CodeAndCity, "Kod i miasto:")</td>
                <td>@Html.TextBoxFor(o => o.UserData.CodeAndCity)</td>
                <td>@Html.ValidationMessageFor(o => o.UserData.CodeAndCity)</td>
            </tr>
            <tr>
                <td class="firstcolumn">@Html.LabelFor(o => o.UserData.PhoneNumber, "Numer telefonu:")</td>
                <td>@Html.TextBoxFor(o => o.UserData.PhoneNumber)</td>
                <td>@Html.ValidationMessageFor(o => o.UserData.PhoneNumber)</td>
            </tr>
            <tr>
                <td class="firstcolumn">@Html.LabelFor(o => o.UserData.Email, "Adres e-mail:")</td>
                <td>@Html.TextBoxFor(o => o.UserData.Email)</td>
                <td>@Html.ValidationMessageFor(o => o.UserData.Email)</td>
            </tr>
        </table>
        <input type="submit" value="Potwierdź" class="submitLink" />
    }
</div>