@using MateuszowSKYSklep.Infrastructure
@model IEnumerable<MateuszowSKYSklep.Models.Order>

@{
    ViewBag.Title = "Lista zamówień";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div class="sectiontitle">
    Lista zamówień
</div>
<div class="basebody">
    @if (Model.Any())
    {


        foreach (var order in Model)
                {
            <table class="orderstable">
                <tr @if (order.OrderState == MateuszowSKYSklep.Models.OrderState.New)
                    {
                        <text> class="newOrder" </text>
                    }>
                    <td>
                        @order.OrderId
                    </td>
                    <td>
                        @order.DateCreated.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @if (ViewBag.UserIsAdmin)
                        {
                            using (Html.BeginForm("ChangeOrderState", "Manage"))
                            {
                                @Html.HiddenFor(o => order.OrderId)
                                @Html.EnumDropDownListFor(o => order.OrderState, new {@class = "orderstateddl"})
                            }
                        }
                        else
                        {
                            @Html.DisplayFor(o => order.OrderState)
                        }

                    </td>
                    <td>
                        @order.TotalPrice zł
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @order.FirstName @order.LastName<br />
                        @order.Address<br />
                        @order.CodeAndCity<br />
                    </td>
                    <td colspan="2">
                        @order.Comment
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <ul>
                            @foreach (var orderItem in order.OrderItems)
                            {
                                <li>
                                    <article>
                                        <a class="productdetailslink" href="@Url.Action("Details", "Store", new {id = orderItem.GameId})">
                                            <img class="album-cover" src="@Url.GameScreenPath(orderItem.Game.GameId, orderItem.Game.MainImageFilename)"/>
                                            <h1>
                                                @orderItem.Game.DeveloperName - @orderItem.Game.GameTitle<br/>
                                                <strong>sztuk: @orderItem.Quantity, łącznie: @(orderItem.Quantity*@orderItem.UnitPrice) zł</strong>
                                            </h1>
                                        </a>
                                    </article>
                                </li>
                            }
                            <div style="clear: both;"></div>
                        </ul>

                    </td>
                </tr>
            </table>
        }



    }
    else
    {
        <div style = "text-align: center; margin-top: 50px; margin-bottom: 50px;" >
        Brak zamówień.
        </div>
    }

</div>