@model MateuszowSKYSklep.ViewModels.DetailsViewModel
@using System.Web.Optimization
@using MateuszowSKYSklep.Infrastructure

@{
    ViewBag.Title = Model.Games.GameTitle;
}

<div id="detailtop">
    <div id="detailtopbackground">
        <ul id="detailtopbackgroundes">
            <li class="detailtopbackgrounde">
                <img src="@Url.GameScreenPath(Model.Games.GameId, Model.Games.MainImageFilename)"/>
            </li>
            <li class="detailtopbackgrounde">
                <img src="@Url.GameScreenPath(Model.Games.GameId, Model.Games.MainImageFilename)"/>
            </li>
            <li class="detailtopbackgrounde">
                <img src="@Url.GameScreenPath(Model.Games.GameId, Model.Games.MainImageFilename)" />
            </li>
        </ul>
    </div>

    <div id="detailtitle">
        @Model.Games.GameTitle
    </div>
    <div id="topinfo">
        <div id="topinfocontent">
            <div id="addtobasketbtn">
                Dodaj do koszyka
            </div>
            <div id="topinfocontenttext">
                <br />Studio: @Model.Games.DeveloperName
                <br />Data premiery: @Model.Games.DatePremiere.Day.ToString()/@Model.Games.DatePremiere.Month.ToString()/@Model.Games.DatePremiere.Year

                <div id="priceinfo">
                    @Model.Games.Price
                    $
                </div>
            </div>
        </div>
    </div>

    <div id="leftminiaturebtn">
        <img src="~/Content/Images/przycisklewo.png" />
    </div>

    <div id="topminiaturer">
        <ul id="topminiatures">
            @foreach (var fullPath in Model.Links)
            {
                var fileName = Path.GetFileName(fullPath);
                <li class="topminiature">
                    <img src="@Url.GameScreenPath(Model.Games.GameId, fileName)" />
                </li>
            }
        </ul>
        <div style="clear: both;"></div>
    </div>
    <div id="rightminiaturebtn">
        <img src="~/Content/Images/przyciskprawo.png" />
    </div>

</div>

<div id="detailbottom">
    <div id="detailbottomleft">
        <div id="detailbottomlefttitle">
            Opis
        </div>
        <div id="detailbottomlefttext">
            @Model.Games.Description
            <br/>
            <br/>Źródło: @Model.Games.Source
        </div>
    </div>

    <div id="detailbottomright">
        <div id="detailbottomrighttitle">
            Wymagania sprzętowe
        </div>
        <div id="detailbottomrighttext">
            CPU: @Model.Games.Cpu
            <br/>RAM: @Model.Games.Ram
            <br/>GPU: @Model.Games.Gpu
            <br/>HDD: @Model.Games.Hdd
            <br/>OS: @Model.Games.Os
        </div>
    </div>
    <div style="clear: both;"></div>
</div>