@model MateuszowSKYSklep.ViewModels.DetailsViewModel
@using System.Web.Optimization
@using MateuszowSKYSklep.Infrastructure

@{
    ViewBag.Title = Model.Games.GameTitle;
}

<div id="detailtop">
    <div id="detailtopbackground">
        <ul id="detailtopbackgroundes">
            <li class="detailtopbackgrounde">
                <img src="@Url.GameScreenPath(Model.Games.GameId, Model.Games.MainImageFilename)"/>
            </li>
            <li class="detailtopbackgrounde">
                <img src="@Url.GameScreenPath(Model.Games.GameId, Model.Games.MainImageFilename)"/>
            </li>
            <li class="detailtopbackgrounde">
                <img src="@Url.GameScreenPath(Model.Games.GameId, Model.Games.MainImageFilename)" />
            </li>
        </ul>
    </div>

    <div id="detailtitle">
        @Model.Games.GameTitle
    </div>
    <div id="detailtopinfo">
        <div id="detailtopinfocontent">
            <div id="detailaddtobasket">
                <a href="@Url.Action("AddToCart", "Cart", new {id = Model.Games.GameId})">
                    Dodaj do koszyka
                </a>
            </div>
            <div id="detailtopinfocontenttext">
                <br />Studio: @Model.Games.DeveloperName
                <br />Data premiery: @Model.Games.DatePremiere.Day.ToString()/@Model.Games.DatePremiere.Month.ToString()/@Model.Games.DatePremiere.Year

                <div id="detailpriceinfo">
                    @String.Format("{0:0.##}",Model.Games.Price)$
                </div>
            </div>
        </div>
    </div>

    <div id="detailleftminiaturebtn">
        <img src="~/Content/Images/przycisklewo.png" />
    </div>

    <div id="detailtopminiaturer">
        <ul id="detailtopminiatures">
            @foreach (var fullPath in Model.Links)
            {
                var fileName = Path.GetFileName(fullPath);
                <li class="detailtopminiature">
                    <img src="@Url.GameScreenPath(Model.Games.GameId, fileName)" />
                </li>
            }
        </ul>
        <div style="clear: both;"></div>
    </div>
    <div id="detailrightminiaturebtn">
        <img src="~/Content/Images/przyciskprawo.png" />
    </div>

</div>

<div id="detailbottom">
    <div id="detailbottomleft">
        <div class="detailbottomtitle">
            Opis
        </div>
        <div id="detailbottomlefttext">
            @Model.Games.Description
            <br/>
            <br/>Źródło: @Model.Games.Source
        </div>
    </div>

    <div id="detailbottomright">
        <div class="detailbottomtitle">
            Wymagania sprzętowe
        </div>
        <div id="detailbottomrighttext">
            CPU: @Model.Games.Cpu
            <br/>RAM: @Model.Games.Ram
            <br/>GPU: @Model.Games.Gpu
            <br/>HDD: @Model.Games.Hdd
            <br/>OS: @Model.Games.Os
        </div>
    </div>
    <div style="clear: both;"></div>
</div>

<div id="randomtitle">
    Inni wybrali także
</div>

<div id="random">
    <ul>
        @foreach (var game in Model.Randoms)
        {
            <li>
                <a href="@Url.Action("Details", "Store", new {id = game.GameId})">
                    <img src="@Url.GameScreenPath(game.GameId, game.MainImageFilename)" />
                    <div class="randomsmalltitle">
                        @game.GameTitle
                    </div>
                </a>
            </li>
        }
        <div style="clear: both;"></div>
    </ul>
</div>