@using System.Web.Optimization
@using MateuszowSKYSklep.Models
@using MateuszowSKYSklep.Infrastructure
@model MateuszowSKYSklep.ViewModels.HomeViewModel


@{
    ViewBag.Title = "Strona glowna MateuszowSKY";
}

@Html.Action("GenresMenu")

<div id="preordertitle">
    Preordery
</div>

<div id="preorder">

    <div id="preordercontent">
        <div id="preorderleft">
            <img src="@Url.Content("~/Content/Images/przycisklewo.png")"/>
        </div>

        <ul id="preordercontainer">
            @foreach (var game in Model.PreOrders)
            {
                <li class="preorderimage">
                    <a href="@Url.Action("Details", "Store", new {id = game.GameId})">
                        <img src="@Url.GameScreenPath(game.GameId, "ss1.jpg")" style="float: left;"/>
                    </a>
                </li>
            }
        </ul>
        <div style="clear: both;"></div>

        <div id="preorderright">
            <img src="@Url.Content("~/Content/Images/przyciskprawo.png")"/>
        </div>
    </div>
</div>

<div id="randomtitle">
    Wybrane dla Ciebie
</div>

<div id="random">
    <ul>
        @foreach (var game in Model.Randoms)
        {
            <li>
                <a href="@Url.Action("Details", "Store", new {id = game.GameId})">
                    <img src="@Url.GameScreenPath(game.GameId, game.MainImageFilename)"/>
                    <div class="randomsmalltitle">
                        @game.GameTitle
                    </div>
                </a>
            </li>
        }
        <div style="clear: both;"></div>
    </ul>
</div>

