@model MateuszowSKYSklep.Models.Order

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div class="sectiontitle">
    Uzupełnij dane zamówienia
</div>
<div class="basebody">

    @{ Html.EnableClientValidation(); }

    @using (@Html.BeginForm("Checkout", "Cart"))
    {
        <table class="userdatatable">
            <tr>
                <td class="firstcolumn">@Html.LabelFor(o => o.FirstName, "Imię:")</td>
                <td>@Html.TextBoxFor(o => o.FirstName)</td>
                <td>@Html.ValidationMessageFor(o => o.FirstName)</td>
            </tr>
            <tr>
                <td class="firstcolumn">@Html.LabelFor(o => o.LastName, "Nazwisko:")</td>
                <td>@Html.TextBoxFor(o => o.LastName)</td>
                <td>@Html.ValidationMessageFor(o => o.LastName)</td>
            </tr>
            <tr>
                <td class="firstcolumn">@Html.LabelFor(o => o.Address, "Adres:")</td>
                <td>@Html.TextBoxFor(o => o.Address)</td>
                <td>@Html.ValidationMessageFor(o => o.Address)</td>
            </tr>
            <tr>
                <td class="firstcolumn">@Html.LabelFor(o => o.CodeAndCity, "Kod i miasto:")</td>
                <td>@Html.TextBoxFor(o => o.CodeAndCity)</td>
                <td>@Html.ValidationMessageFor(o => o.CodeAndCity)</td>
            </tr>
            <tr>
                <td class="firstcolumn">@Html.LabelFor(o => o.PhoneNumber, "Numer telefonu:")</td>
                <td>@Html.TextBoxFor(o => o.PhoneNumber)</td>
                <td>@Html.ValidationMessageFor(o => o.PhoneNumber)</td>
            </tr>
            <tr>
                <td class="firstcolumn">@Html.LabelFor(o => o.Email, "Adres e-mail:")</td>
                <td>@Html.TextBoxFor(o => o.Email)</td>
                <td>@Html.ValidationMessageFor(o => o.Email)</td>
            </tr>
            <tr>
                <td class="firstcolumn"><label for="comment">Uwagi: </label></td>
                <td>
                    <textarea cols="24" rows="3" name="comment">@Model.Comment</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="section-button-container" style="float: left; margin-left: 400px;">
                        <input type="submit" class="submitLink" value="Potwierdź"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" >
                    <div class="section-button-container" style="float: left; margin-left: 200px; margin-top: 20px;">
                        <a class="button-link" href="">Wróć</a>
                    </div>
                </td>
            </tr>
        </table>

        @Html.ValidationSummary()
    }
</div>