
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-2.2.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/mainView.js")" type="text/javascript"></script>
    <script src="~/Scripts/album.js"></script>

</head>
<body>

    <header>
        <div id="header">
            <div id="show">
                <img src="@Url.Content("~/Content/Images/wyszukiwarka.png")" />
            </div>
            <div id="search">
                <img src="@Url.Content("~/Content/Images/wyszukiwarka.png")" />
            </div>
            <div id="logo">
                <a href="@Url.Content("~/")">
                    <img src="@Url.Content("~/Content/Images/logo.png")" />
                </a>
            </div>
            <div id="user">
                <img src="@Url.Content("~/Content/Images/logowanie.png")" />
            </div>
            <div id="basket">
                <img src="@Url.Content("~/Content/Images/koszyk.png")" />
            </div>
            <div style="clear: both;"></div>
        </div>
    </header>

<div>

    @RenderBody()

</div>

    <footer>
        <nav id="footer">
            <ul>
                <li><a href="@Url.Action("StaticContent","Home", new { viewname = "onas"})">O nas</a></li>
                <li><a href="@Url.Action("StaticContent","Home", new { viewname = "kontakt"})">Kontakt</a></li>
                <li><a href="@Url.Action("StaticContent","Home", new { viewname = "wysylka"})">Wysyłka</a></li>
                <li><a href="@Url.Action("StaticContent","Home", new { viewname = "regulamin"})">Regulamin</a></li>
                <li>
                    <div id="last-foot">
                        MateuszowSKY &copy; 2016
                    </div>
                </li>
                <div style="clear: both;"></div>
            </ul>
        </nav>
    </footer>

    @RenderSection("ScriptsBottom", required: false)

</body>
</html>
